<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
<title>Snakes and Ladders Project</title>
<link href="./css/styles.css" rel="stylesheet" type="text/css"/> 
</h:head>
<h:body>
<h1 class="title">Snakes and Ladders Project</h1>
<br></br>

<div align="center">

<img src="images/Logo.png" align="middle" alt="" width="100" height="100"/>

<br></br>
<br></br>
<br></br>

<fieldset>

<h:form>
<legend>Choose a game</legend>

  <br></br>
  
  <h:commandButton value="With Single Token" 
                   action="#{navigationBean.singleTokenMethod}"/>
  <br></br>
  <br></br>
                   
  <h:commandButton value="With Multiple Tokens" 
                   action="#{navigationBean.multipleTokenMethod}"/>     
</h:form>
</fieldset>
<br/>

</div></h:body></html>