<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
<title>Snakes and Ladders Project</title>
<link href="./css/styles.css" rel="stylesheet" type="text/css"/> 
</h:head>
<h:body>
<h1 class="title">Snakes and Ladders Project</h1>
<br></br>

<div align="center">

<br></br>


To play the game click the board to make sure it is in focus. Role the dice by presing the letter "r" on the keyboard.
  <br></br>


  <br></br>
  <applet code="snl/MulitpleTokens.class" width="500" height="400">
</applet>
     
<br/>

</div></h:body></html>